.app {
  display: flex;
  flex-direction: row;
  background-color: #eeeeee;
}

.sidebar-container {
  display: flex;
}

.main {
  display: flex;
  flex-grow: 1;
  margin: 12px;
}

.page {
  width: 100%;
}

.page-title {
}

.page-card {
  background-color: #fff;
  border-top: 3px solid darkcyan;
  border-radius: 3px;
  box-shadow: 0px 2px 4px #888;
  padding: 12px;
  width: 100%;
}

.space-between {
  display: flex;
  justify-content: space-between;
}